* {
  box-sizing: border-box;
}

.md-raised:not([disabled]) {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-size: large;
  margin: 20px;
}

/*.md-button:not([disabled]):hover {
  background-image: ;
}*/

.gridListdemoBasicUsage md-grid-list {
  margin: 8px;
}

.game-wrapper {
  height: 500px;
  display: flex;
}

.player-holder {
  flex: 0 1 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 50px;
  justify-content: space-between;
  align-items: center;
}

.player-holder>.player {
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: red;
}

.right-part-wrapper {
  display: flex;
  /* flex: 1 0 auto; */
  flex-direction: column;
  background: linear-gradient(to right, #fad0b8, #de88a3, #655989, #7a9db0);
}

.grid-holder{
  display: flex;
  justify-content: flex-start;
  flex: 1 0 auto;
  flex-direction: column;
}

#grid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 0 1 auto;
}

#grid>div {
  display: block;
  flex: 0 0 auto;
  text-align: center;
  cursor: default !important;
  flex-basis: 25%;
}

#grid>div>div {
  margin: 10px;
  background-color: red;
  width: 75px;
  height: 75px;
  border-radius: 75px;
  display: inline-block;
}

.selected-cards-holder {
  border: 3px solid white;
  border-left: none;
  border-right: none;
  flex: 0 1 auto;
  flex-basis: 100px;
}
