* {
  box-sizing: border-box;
}


h2{
  margin: 0;
  color: #655989;
  font-weight: bold;
  font-size: 31px;
  font-family: Arial;
}


.md-raised:not([disabled]) {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-size: large;
  margin: 20px;
}

/*.md-button:not([disabled]):hover {
  background-image: ;
}*/

.gridListdemoBasicUsage md-grid-list {
  margin: 8px;
}

.game-wrapper {
  height: 500px;
  display: flex;
}

.player-holder {
  flex: 0 1 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
  height: 420px;
}

.player-holder>.player {
  display: block;
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 60px;
}

.player-holder>.player:nth-of-type(1){
  background-color: #de88a3;
}

.player-holder>.player:nth-of-type(2){
  background-color: #655989;
}

.player-holder>.player:nth-of-type(3){
  background-color: #7a9db0
}

.right-part-wrapper {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  background: linear-gradient(to right, #fad0b8, #de88a3, #655989, #7a9db0);
  min-width: 750px;
}

.grid-holder{
  display: flex;
  justify-content: flex-start;
  flex: 1 0 auto;
  flex-direction: column;
}

.grid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 0 1 auto;
  /* width: 950px; */
}

.grid>div {
  display: block;
  flex: 0 0 auto;
  text-align: center;
  cursor: default !important;
  flex-basis: 25%;
}

.grid>div>div {
  margin: 10px;
  background-color: white;
  width: 75px;
  height: 75px;
  border-radius: 75px;
  display: inline-block;
  background-position: center;
  background-size: contain;
}

.grid>div>div.selected{
  opacity: 0.3;
}

.grid>div>div.placeholder{
  background-color: #acacac;
}

.selected-cards-holder {
  border: 3px solid white;
  border-left: none;
  border-right: none;
  flex: 0 1 auto;
  flex-basis: 100px;
  flex-wrap: nowrap;
  flex-basis: unset;
}

.selected-cards-holder {
  border: 3px solid white;
  border-left: none;
  border-right: none;
  flex: 0 1 auto;
  flex-basis: 100px;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  /* width: 950px; */
}
.selected-cards-holder > div {
  flex-basis: unset;
}