* {
  box-sizing: border-box;
}

.md-raised:not([disabled]) {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-size: large;
  margin: 20px;
}

/*.md-button:not([disabled]):hover {
  background-image: ;
}*/

.gridListdemoBasicUsage md-grid-list {
  margin: 8px;
}

.game-wrapper {
  background: linear-gradient(to left, #355c7d, #c06c84, #f8b195);
  height: 500px;
}

#grid {
  align-items: baseline;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#grid>div {
  display: block;
  flex: 0 0 auto;
  height: 25px;
  text-align: center;
  cursor: default !important;
  flex-basis: 25%;
}

#grid>div>div {
  margin: 10px;
  background-color: red;
}
